@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: white;
  background: #198E8A;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marker-containe {
  z-index: 10 !important;
}

.marker {
  z-index: 10 !important;
}

.react-calendar__tile--now {
  background: black !important;
  color: white !important;
}
.react-calendar__tile--active {
  background: #198E8A !important;
  color: white !important;
}

.section-title {
  position: relative;
  padding-bottom: 20px; /* 這裡的值可根據需要進行調整 */
}

.section-title::after {
  content: "";
  display: block;
  width: 120px; /* 主線的長度 */
  height: 4px; /* 主線的高度 */
  background-color: #4dc0b5; /* 主線的顏色 */
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 60px;
  transform: translateX(-50%);
}

.section-title::before {
  content: "";
  display: block;
  width: 20px; /* 短線的長度 */
  height: 4px; /* 短線的高度 */
  background-color: #4dc0b5; /* 短線的顏色 */
  margin: 0 auto;
  position: absolute;
  bottom: 10px; /* 短線相對於主線的距離 */
  left: 140px;
  transform: translateX(-50%);
}

.mySwiper{
  max-height: 50vh;
}
.mySwiper .swiper-slide{
  display: flex;
  justify-content: center;
}